@page
@model Dz_Rezume.Pages.IndexModel
<h2 align ="center">Комков Роман Валериевич</h2>
<h3 align="center">Программист разработчик</h3>
<b>Занятость : Полная <br/></b>
<b>Готовность к коммандировкам : нет<br /></b>
<b>Желаемая зарплата : 100 000 руб.<br /></b>
<b>Телефон : 8-905-387-00-29<br /></b>
<b>Электронная почта : odyssei87@gmail.com<br /></b>
<h3>Личная информация</h3>
<b>Гражданство : Российская Федерация<br /></b>
<b>Место проживания : г. Саратов<br /></b>
<b>Переезд : не возможен<br /></b>
<b>Образование : Высшее<br /></b>
<b>Дата рождения : 23.12.1897 (35 лет)<br /></b>
<b>Пол : мужской<br /></b>
<b>Семейное положение : женат<br /></b>
<h3>Опыт работы</h3>
<b>Период работы : 1.01.2010 - 1.01.2015<br /></b>
<b>Должность : Монтажник<br /></b>
<b>Организация : ЗАО "Вымпелком"<br /></b>
<b>Период работы : 1.01.2015 - 1.01.2019<br /></b>
<b>Должность : Монтажник<br /></b>
<b>Организация : ООО "Энвижн Бизнес Солюшенс"<br /></b>
<b>Период работы : 1.01.2019 - 1.01.2023<br /></b>
<b>Должность : Специалист по обслуживанию<br /></b>
<b>Организация : ООО "Цифрал-Сервис"<br /></b>
<br />
<a style="text-decoration: none; border-top;border-width:thin;border-style:dotted;color:blue" href="index2">Страница 2</a>
@{
}
