@page
@model Dz_Rezume.Pages.Index2Model
<h3>Образование</h3>
<b>Учебное заведение : Поволжский Кооперативный Институт Российско Университета Кооперации<br /></b>
<b>Год окончания : 2010 год<br /></b>
<b>Факультет : Экономика и комерция<br /></b>
<b>Специальность : Экономика и управление на предприятии<br /></b>
<b>Форма обучения : Очная<br /></b>
<h3>Дополнительное образование</h3>
<b>Название : Разработка програмного обеспечения<br /></b>
<b>Учебное заведение : Академия ТОП<br /></b>
<b>Дата окончания : 2023 год<br /></b>
<h3>Дополнительная информация</h3>
<b>Иностранные языки : Английский<br /></b>
<b>компьютерные навыки: C#, PHP, WPF, Javascript<br /></b>
@{
}
